.product-desc {
    height: 8ch;
    overflow: hidden;
}

.cart__empty {
    text-align: center;
    color: cornflowerblue;
}


span.cart-item-total  {
    font-size: 1.5em;
    font-weight: 500;
}

button {
    background-color: #0dcaf0;
    border: 2px solid black;
}