.layer {
    display: flex;
    flex-wrap: wrap;
}

.layer > div {
    background-color: #eee;
    box-shadow: 0 0 0.3rem -0.1em rgba(0, 0, 0, 1);
    padding: 10px 0;
}

.category { 
    padding-top: 10px;
    height: 84px;
    width: 84px;
    box-shadow: 0px 0px 5px -2px black;
    background-color: rgba(255,255,255,0.7);
    border-radius: 200px;
    text-align: center;
    /* text-align: end; */
    /* font-size: 0; */
    /* padding: 4rem; */
    /* background-position: center !important; */
    /* background-size: contain !important; */
}

button.carousel-control-prev, button.carousel-control-next {
    max-width: 7vw;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}