* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box
}
 
:root {
  --body-background: #D9D9D9;
  --card-background: #FFFFFF;
}

body {
  background-color: hsl(264, 56%, 88%) !important;
} 

#top-bar {
  background-color: #31263E;
  min-height: 2em;
  /* margin-bottom: 0.5em; */
}

#heading {
  background-color: #ECA72C;
}

#heading-icons {
  font-size: 1rem;
}

.heading-icon{
  font-size: 2rem;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  transition: font-size 0.2s;
}

.heading-icon:hover{
  font-size: 2.4rem;
}

a.anodec {
  text-decoration: none;
  color: black;
}

#favorite-icon{
  color: #e31b23;
}

#cart-icon{
  color: black;
}

.noclick {
  pointer-events: none;
}

.noclick a {
  pointer-events: all;
}




.payment-method {
  text-align: center;
  padding: 0.2rem 0;
  min-width: 80px;
}